<% produp = settings[:product_name].upcase%>
# append <%= produp %>_PROJECT_PATH/bin paths to PATH
# setenv PATH ${<%= produp %>_PROJECT_PATH}/bin:${PATH}

# append <%= produp %>_PROJECT_PATH nuke path
if $?NUKE_PATH then
   	setenv NUKE_PATH ${<%= produp %>_PROJECT_PATH}/nuke/scripts:${NUKE_PATH}
else 
   	setenv NUKE_PATH ${<%= produp %>_PROJECT_PATH}/nuke/scripts
endif
