<% produp = settings[:product_name].upcase%>
# append <%= produp %>_PROJECT_PATH bin paths to PATH
# export PATH=${<%= produp %>_PROJECT_PATH}/bin:${PATH}

# append <%= produp %>_PROJECT_PATH nuke path
if [[ -n $NUKE_PATH ]] ;
   	then export NUKE_PATH=${<%= produp %>_PROJECT_PATH}/nuke/scripts:${NUKE_PATH} ;
   	else export NUKE_PATH=${<%= produp %>_PROJECT_PATH}/nuke/scripts ;
fi

